<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job Tracker</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

   <nav class="navbar">

    <div class="logo">
        <a href="/">🧳 Job Tracker</a>
    </div>

    <ul class="nav-links">
        <li><a href="/login">Login</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/add">Add Application</a></li>
         <li><a href="/register">Register</a></li>
    </ul>

  </nav>

    <main>

        <section class="hero">

            <h1>Track Every Opportunity.</h1>

            <p>
                Organize your job search, monitor applications,
                and stay one step ahead.
            </p>

        </section>

    </main>

</body>

</html>